<html>

<head>
    <meta charset="UTF-8">
    <title>My EJS Template</title>
    <meta name="description" content="Sample Web tutorials for Node JS">
    <meta name="keywords" content="NodeJS,EJS">
    <meta name="author" content="Tanmay Sarkar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>